npm-debug.log
yarn-error.log
*.log

node_modules/

vendor/
bootstrap/cache/

.env
.env.backup
.env.production

storage/
storage/*.key
storage/logs/
storage/framework/
storage/app/

public/storage/
public/build/
public/hot/

database/database.sqlite
database/seeds/*.sqlite

composer.lock
auth.json
.phpunit.cache
.phpunit.result.cache
.phpactor.json

Homestead.json
Homestead.yaml
/.vagrant

.fleet/
.idea/
.nova/
.vscode/
.zed/

backend/package-lock.json
backend/postcss.config.js